.card {
    width: 350px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    top: -918px;
}

.card:hover {
    background-color: rgb(248, 0, 0);
}

.on {
    top: 0;
    transition-duration: 1s;
}

.selected-card {
    height: 486px;
    width: 630px;
    left: 0;
    position: absolute;
    flex-direction: row;
}

.selected-card > #card {
    width: 290px;
    height: 454px;
}
